# Exploratory Data Analysis with SQL

The purpose here is to use some queries to explore the data.

In [5]:
# Sqlite is a library that implements a SQL database engine. 
import sqlite3
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
#connection
data = r"C:\Users\USER\Music\database.sqlite"
connection = sqlite3.connect(data)
connection

In [9]:
#sqlite_master is a table with database schema
tables = pd.read_sql('''SELECT *
                        FROM sqlite_master
                        WHERE type='table';''', connection)
tables

,type,name,tbl_name,rootpage,sql
0,table,Country,Country,2,"CREATE TABLE Country (\n CountryCode TEXT,\..."
1,table,CountryNotes,CountryNotes,186,CREATE TABLE CountryNotes (\n Countrycode T...
2,table,Series,Series,948,"CREATE TABLE Series (\n SeriesCode TEXT,\n ..."
3,table,Indicators,Indicators,4448,CREATE TABLE Indicators (\n CountryName TEX...
4,table,SeriesNotes,SeriesNotes,1317550,CREATE TABLE SeriesNotes (\n Seriescode TEX...
5,table,Footnotes,Footnotes,1317587,CREATE TABLE Footnotes (\n Countrycode TEXT...

## <span style='color:DarkGoldenrod'> Let's explore the Indicators table.  </span>

# 1- Selecting

In [19]:
# check the head
query = ''' SELECT *  FROM Indicators '''
Indicators = pd.read_sql(query, connection)
Indicators

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
...,...,...,...,...,...,...
5656453,Zimbabwe,ZWE,Time required to register property (days),IC.PRP.DURS,2015,3.600000e+01
5656454,Zimbabwe,ZWE,Time required to start a business (days),IC.REG.DURS,2015,9.000000e+01
5656455,Zimbabwe,ZWE,Time to prepare and pay taxes (hours),IC.TAX.DURS,2015,2.420000e+02
5656456,Zimbabwe,ZWE,Time to resolve insolvency (years),IC.ISV.DURS,2015,3.300000e+00
5656457,Zimbabwe,ZWE,Total tax rate (% of commercial profits),IC.TAX.TOTL.CP.ZS,2015,3.280000e+01

In [21]:
# how many rows in inddicators?
query = ''' SELECT count(*)  FROM Indicators '''
Indicators = pd.read_sql(query, connection)
Indicators

   count(*)
0   5656458

In [23]:
# checking for missing values in one column
query = ''' SELECT count(*)  FROM Indicators WHERE IndicatorName is null'''
Indicators = pd.read_sql(query, connection)
Indicators

   count(*)
0         0

In [25]:
# if I need filter not null
query = ''' SELECT *  FROM Indicators WHERE IndicatorName is null'''
Indicators = pd.read_sql(query, connection)
Indicators

Empty DataFrame
Columns: [CountryName, CountryCode, IndicatorName, IndicatorCode, Year, Value]
Index: []

In [29]:
# checking for missing values in all columns
pd.read_sql("""SELECT COUNT(*) - COUNT(CountryName) AS missing_CountryName,
                      COUNT(*) - COUNT(CountryCode) AS missing_CountryCode,
                      COUNT(*) - COUNT(IndicatorName) AS missing_IndicatorName,
                      COUNT(*) - COUNT(IndicatorCode) AS missing_IndicatorCode, 
                      COUNT(*) - COUNT(Year) AS missing_Year, 
                      COUNT(*) - COUNT(Value) AS missing_Value
                FROM Indicators;""",
           connection)

,missing_CountryName,missing_CountryCode,missing_IndicatorName,missing_IndicatorCode,missing_Year,missing_Value
0,0,0,0,0,0,0

In [31]:
# how many unique indicators?
query = ''' SELECT count(DISTINCT IndicatorName )  FROM Indicators '''
Indicators = pd.read_sql(query, connection)
Indicators

   count(DISTINCT IndicatorName )
0                            1344

In [33]:
# selecting distinct indicators
query = ''' SELECT DISTINCT IndicatorName  FROM Indicators '''
Indicators = pd.read_sql(query, connection)
Indicators

                                          IndicatorName
0     2005 PPP conversion factor, GDP (LCU per inter...
1     2005 PPP conversion factor, private consumptio...
2     ARI treatment (% of children under 5 taken to ...
3               Access to electricity (% of population)
4     Access to electricity, rural (% of rural popul...
...                                                 ...
1339  Women's share of population ages 15+ living wi...
1340  Youth literacy rate, population 15-24 years, b...
1341  Youth literacy rate, population 15-24 years, f...
1342  Youth literacy rate, population 15-24 years, g...
1343  Youth literacy rate, population 15-24 years, m...

[1344 rows x 1 columns]

# 2- Filtering

In [45]:
# I wanna search for some indicator about using like 
query = ''' SELECT DISTINCT IndicatorName  FROM Indicators WHERE IndicatorName LIKE 'GDP%' '''
Indicators = pd.read_sql(query, connection)
Indicators

                                        IndicatorName
0                                  GDP (constant LCU)
1                                   GDP (current LCU)
2            GDP at market prices (constant 2005 US$)
3                  GDP at market prices (current US$)
4          GDP deflator (base year varies by country)
5                               GDP growth (annual %)
6                  GDP per capita (constant 2005 US$)
7                       GDP per capita (constant LCU)
8                        GDP per capita (current LCU)
9                        GDP per capita (current US$)
10                   GDP per capita growth (annual %)
11  GDP per capita, PPP (constant 2011 internation...
12      GDP per capita, PPP (current international $)
13      GDP per person employed (constant 1990 PPP $)
14  GDP per unit of energy use (PPP $ per kg of oi...
15  GDP per unit of energy use (constant 2011 PPP ...
16           GDP, PPP (constant 2011 international $)
17                 GDP, PPP (current international $)

In [79]:
# how about GDP per capita of Brazil in last years ?
query = ''' SELECT *  FROM Indicators WHERE IndicatorName LIKE 'GDP per capita%' AND CountryName='Brazil' AND Year >=2010'''
Indicators = pd.read_sql(query, connection)
Indicators

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Brazil,BRA,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,2010,5580.942911
1,Brazil,BRA,GDP per capita (constant LCU),NY.GDP.PCAP.KN,2010,8662.639973
2,Brazil,BRA,GDP per capita (current LCU),NY.GDP.PCAP.CN,2010,19569.773176
3,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2010,11124.245780
4,Brazil,BRA,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2010,6.536010
5,Brazil,BRA,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,2010,14408.727422
6,Brazil,BRA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,2010,14117.258623
7,Brazil,BRA,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,2011,5744.463154
8,Brazil,BRA,GDP per capita (constant LCU),NY.GDP.PCAP.KN,2011,8916.453175
9,Brazil,BRA,GDP per capita (current LCU),NY.GDP.PCAP.CN,2011,21817.363409
10,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2011,13042.421933
11,Brazil,BRA,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2011,2.929975
12,Brazil,BRA,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,2011,14830.899561
13,Brazil,BRA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,2011,14830.899561
14,Brazil,BRA,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,2012,5791.295487
15,Brazil,BRA,GDP per capita (constant LCU),NY.GDP.PCAP.KN,2012,8989.145487
16,Brazil,BRA,GDP per capita (current LCU),NY.GDP.PCAP.CN,2012,23285.860253
17,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2012,11922.513058
18,Brazil,BRA,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2012,0.815260
19,Brazil,BRA,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,2012,14951.810013
20,Brazil,BRA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,2012,15220.228670
21,Brazil,BRA,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,2013,5896.072508
22,Brazil,BRA,GDP per capita (constant LCU),NY.GDP.PCAP.KN,2013,9151.778508
23,Brazil,BRA,GDP per capita (current LCU),NY.GDP.PCAP.CN,2013,25250.096597
24,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2013,11711.004405
25,Brazil,BRA,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2013,1.809216
26,Brazil,BRA,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,2013,15222.320489
27,Brazil,BRA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,2013,15726.488138
28,Brazil,BRA,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,2014,5852.499760
29,Brazil,BRA,GDP per capita (constant LCU),NY.GDP.PCAP.KN,2014,9084.145666
30,Brazil,BRA,GDP per capita (current LCU),NY.GDP.PCAP.CN,2014,26792.082283
31,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,11384.415010
32,Brazil,BRA,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2014,-0.739013
33,Brazil,BRA,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,2014,15109.825547
34,Brazil,BRA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,2014,15838.024615

In [81]:
# let's  compare with China
query = ''' SELECT *  FROM Indicators WHERE IndicatorName LIKE 'GDP per capita%' AND (CountryName= 'Brazil' OR CountryName= 'China') AND Year >=2010'''
Indicators = pd.read_sql(query, connection)
Indicators

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Brazil,BRA,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,2010,5580.942911
1,Brazil,BRA,GDP per capita (constant LCU),NY.GDP.PCAP.KN,2010,8662.639973
2,Brazil,BRA,GDP per capita (current LCU),NY.GDP.PCAP.CN,2010,19569.773176
3,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2010,11124.245780
4,Brazil,BRA,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2010,6.536010
...,...,...,...,...,...,...
65,China,CHN,GDP per capita (current LCU),NY.GDP.PCAP.CN,2014,46628.507001
66,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,7590.016441
67,China,CHN,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2014,6.726721
68,China,CHN,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,2014,12599.181828
69,China,CHN,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,2014,13206.383575

In [83]:
# let's check the 90's in Brazil
query = ''' SELECT *  FROM Indicators WHERE IndicatorName LIKE 'GDP per capita%' AND CountryName='Brazil' AND Year >=1900'''
Indicators = pd.read_sql(query, connection)
Indicators

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Brazil,BRA,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,1960,1.712763e+03
1,Brazil,BRA,GDP per capita (constant LCU),NY.GDP.PCAP.KN,1960,2.658521e+03
2,Brazil,BRA,GDP per capita (current LCU),NY.GDP.PCAP.CN,1960,1.421615e-11
3,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,1960,2.091988e+02
4,Brazil,BRA,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,1961,1.832808e+03
...,...,...,...,...,...,...
319,Brazil,BRA,GDP per capita (current LCU),NY.GDP.PCAP.CN,2014,2.679208e+04
320,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,1.138442e+04
321,Brazil,BRA,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2014,-7.390131e-01
322,Brazil,BRA,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,2014,1.510983e+04
323,Brazil,BRA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,2014,1.583802e+04

In [15]:
# let's check other countries in 2014
pd.read_sql("""SELECT *
               FROM Indicators
               WHERE IndicatorName='GDP per capita (current US$)'
               AND CountryName IN ("Brazil", "China", "India")
               AND Year=2014;""",
            connection)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,11384.415010
1,China,CHN,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,7590.016441
2,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,1581.510703

# 3- Aggregating and Summarizing

In [13]:
# let's search for the highest GDP per capita in 2014
pd.read_sql("""SELECT CountryName, MAX (Value)
               FROM Indicators
               WHERE IndicatorName = 'GDP per capita (current US$)'
               AND Year = 2014;""",
            connection)

  CountryName    MAX (Value)
0  Luxembourg  116664.262488

In [17]:
#Let's order (and reafirm the highest GDP per capita)
pd.read_sql("""SELECT * 
               FROM Indicators
               WHERE IndicatorName='GDP per capita (current US$)'
               AND Year= 2014
               ORDER BY Value DESC
               LIMIT 3;""",
           connection)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Luxembourg,LUX,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,116664.262488
1,Norway,NOR,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,97307.421592
2,Qatar,QAT,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,96732.402545

In [19]:
# Let's compare the averages
pd.read_sql(""" SELECT CountryName, AVG(Value)
                FROM Indicators
                WHERE IndicatorName= 'GDP per capita (current US$)'
                AND CountryName IN ('Brazil', 'China', 'India', 'Angola')
                AND Year>2010
                GROUP BY CountryName;""",
           connection)

  CountryName    AVG(Value)
0      Angola   5495.348173
1      Brazil  12015.088601
2       China   6605.175319
3       India   1489.484052

In [21]:
#how many measures during this time?
pd.read_sql(""" SELECT CountryName, count (*) AS n_measures
                FROM Indicators
                WHERE IndicatorName= 'GDP per capita (current US$)'
                AND CountryName IN ('Brazil', 'China', 'India', 'Angola')
                AND Year>2010
                GROUP BY CountryName
                ORDER BY n_measures
                LIMIT 10;""",
           connection)

  CountryName  n_measures
0      Angola           3
1      Brazil           4
2       China           4
3       India           4

In [23]:
# important to know that Angola has less measures during this time
pd.read_sql(""" SELECT *
                FROM Indicators
                WHERE IndicatorName= 'GDP per capita (current US$)'
                AND CountryName = 'Angola'
                AND Year>2010;""",
           connection)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,2011,5053.738649
1,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,2012,5531.776299
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,2013,5900.529570

# 4- JOINs

In [25]:
# let's make a join to get the information about indicators GDP related measured in 2014 in Brazil
pd.read_sql(""" SELECT Indicators.*, Series.LongDefinition
                FROM Indicators
                LEFT JOIN Series 
                ON Indicators.IndicatorName  = Series.IndicatorName
                WHERE Indicators.IndicatorName LIKE 'GDP%'
                AND CountryName ='Brazil'
                AND Year=2014;""",
            connection)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value,LongDefinition
0,Brazil,BRA,GDP (constant LCU),NY.GDP.MKTP.KN,2014,1.872042e+12,GDP is the sum of gross value added by all res...
1,Brazil,BRA,GDP (current LCU),NY.GDP.MKTP.CN,2014,5.521256e+12,GDP at purchaser's prices is the sum of gross ...
2,Brazil,BRA,GDP at market prices (constant 2005 US$),NY.GDP.MKTP.KD,2014,1.206071e+12,None
3,Brazil,BRA,GDP at market prices (current US$),NY.GDP.MKTP.CD,2014,2.346076e+12,None
4,Brazil,BRA,GDP deflator (base year varies by country),NY.GDP.DEFL.ZS,2014,2.949323e+02,The GDP implicit deflator is the ratio of GDP ...
5,Brazil,BRA,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2014,1.447074e-01,Annual percentage growth rate of GDP at market...
6,Brazil,BRA,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,2014,5.852500e+03,GDP per capita is gross domestic product divid...
7,Brazil,BRA,GDP per capita (constant LCU),NY.GDP.PCAP.KN,2014,9.084146e+03,GDP per capita is gross domestic product divid...
8,Brazil,BRA,GDP per capita (current LCU),NY.GDP.PCAP.CN,2014,2.679208e+04,GDP per capita is gross domestic product divid...
9,Brazil,BRA,GDP per capita (current US$),NY.GDP.PCAP.CD,2014,1.138442e+04,GDP per capita is gross domestic product divid...
10,Brazil,BRA,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,2014,-7.390131e-01,Annual percentage growth rate of GDP per capit...
11,Brazil,BRA,"GDP per capita, PPP (constant 2011 internation...",NY.GDP.PCAP.PP.KD,2014,1.510983e+04,GDP per capita based on purchasing power parit...
12,Brazil,BRA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,2014,1.583802e+04,GDP per capita based on purchasing power parit...
13,Brazil,BRA,GDP per person employed (constant 1990 PPP $),SL.GDP.PCAP.EM.KD,2014,1.377800e+04,GDP per person employed is gross domestic prod...
14,Brazil,BRA,"GDP, PPP (constant 2011 international $)",NY.GDP.MKTP.PP.KD,2014,3.113801e+12,PPP GDP is gross domestic product converted to...
15,Brazil,BRA,"GDP, PPP (current international $)",NY.GDP.MKTP.PP.CD,2014,3.263867e+12,PPP GDP is gross domestic product converted to...